<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,
                                   minimum-scale=1.0,maximum-scale=1.0,
                                   user-scalable=no">
    <title>django blog</title>
  </head>
  <body>
    <h1>AskDjango</h1>
    <!-- 로그인 연습용 -->
    <ul>
    {% if user.is_authenticated %}
      <li>{{user}}님 안녕하세요!</li>
      <li><a href="{% url 'profile' %}">프로필</a></li>
      <li><a href="{% url 'logout' %}?next={{request.path}}">로그아웃</a></li>
    {% else %}
      <li><a href="{% url 'signup' %}">회원가입</a></li>
      <li><a href="{% url 'login' %}?next={{request.path}}">로그인</a></li>
    {% endif %}
    <!-- 로그인 연습용 끝 -->
    </ul>
    <p>안녕하세요. post_list 템플릿입니다.</p>

    <form action="" method="get">
      <input type="text" name="q" value="{{ q }}">
      <input type="submit" value="검색">
    </form>

    <ul>
    {% for post in post_list%}
      <li>
        {{ post.id }}
        {{ post.title }}
        <small> by {{ post.author }} </small>
        <small> at {{ post.updated_at }} </small>
      </li>
    {% endfor %}
    </ul>
  </body>
</html>
